/* tags */
body {
    background-color: black;
}

nav {
    text-align: center;
    /* margin: auto; */
    padding: 50px 10px 10px 10px;
    /* border: 3px solid green; */
    /* position: absolute; */
    /* top: 40%; */
}

/* img {
    align-content: center;
} */

/* IDs = needs to be unique */
#headerBox {
    width: 100%;
    padding: 0px 5px 5px 0px;
    height: 30%;
    margin: 0px;
    padding: 0px;
    /* border: 30px solid #474747; */
    background-color: #474747;
    text-align: center;
}

#footerBox {
    width: 92%;
    padding: 5px 0px 5px 0px;
    height: 8%;
    margin: 0px;
    border: 30px solid #474747;
    background-color: white;
    position: absolute; /* make the position go outside of the box */
    top: 80%; /* the box's top starts 80% from the top */ 
}

#storyBox {
    width: 40%;
    height: 90%;
    margin: 10px;
    /* border: 30px solid gold; */
    padding: 10px;
    background-color: white;
    float: right;
    
}

#darkGrayBox {
    width: 45%;
    height: 90%;
    margin: 10px;
    border: 50px solid #474747;
    padding: 0px;
    float: left;
}

#grayBox {
    width: 40%;
    height: 90%;
    margin: 0px;
    background-color:  #474747;
    border: 30px solid gray;
    padding: 0px;
    float: left;
}

#lightGrayBox {
    /* width: 80%; */
    /* height: 90%; */
    margin: 0px;
    border: 10px solid lightgray;
    padding: 0px;
    
}

/* class */
.red { color: red; }
.large {font-size: 30px; }